<% global_banner = GovukWebBanners::GlobalBanner.for_path(request.path) %>
<% if global_banner.present? %>
  <div>GLOBAL BANNER!</div>
  <%#= render "govuk_publishing_components/components/global_bar", {
      title: global_banner.first.title,
      title_path: global_banner.items.first.title_path,
      info_text: global_banner.items.first.info_text,
      show_arrows: global_banner.show_arrows,
      permanent: global_banner.permanent,
      timestamp: global_banner.timestamp,
  } %>
<% end %>
